*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); 
  font-family:'geistSans' !important;
}


.cards {
  width: 301px;
  height: 255px;
  border-radius: 12px;
  border: 1px solid #969696;
  cursor: pointer;
}

.label-tv {
  backdrop-filter: blur(20px);
  border-radius: 7px;
  height: 53px;
  background:linear-gradient(100.38deg, #FFFFFF 12.94%, rgba(255, 255, 255, 0) 159.1%);
}

.slick-slide {
  padding: 0 10px; /* Adjust spacing as needed */
}

.slick-list {
  margin: 0 -10px; /* Matches the padding to maintain alignment */
}


/* const bgColorByIndex = ["gold","aliceblue","ghostwhite","mintcream"] */


.bg-gold{
  background-color: gold !important;
}

.bg-aliceblue{
  background-color: aliceblue !important;
}

.bg-ghostwhite{
  background-color: ghostwhite !important;
}

.bg-mintcream{
  background-color: mintcream !important;
}

